/* --------------------------------------------------------------------------------------
+
+   AUTHOR: ThemeStreet.net - support@themestreet.net
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* --------------------------------------------------------------------------------------
+
+ VARIABLES
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ MIXINS
+
-------------------------------------------------------------------------------------- */
/* LINE-HIGH */
/* BOX SIZING */
/* HIDE TEXT*/
/* SPRITES icons */
.icons-img1 {
 background: url('../images/icon-objetivo.png') no-repeat;
  height: 96px;
  width: 96px;
  padding-bottom:90px;

}
 

.icons-img2 {
 background: url('../images/icon-missao.png') no-repeat;
  height: 96px;
  width: 96px;
  padding-bottom:50px;
}
 

.icons-img3 {
 background: url('../images/icon-visao.png') no-repeat;
  height: 96px;
  width: 96px;
  padding-bottom:50px;
}
 

.icons-img4 {
 background: url('../images/icon-valores.png') no-repeat;
  height: 96px;
  width: 96px;
  padding-bottom:50px;
}
 

/* SPRITES contact form */
.form-sprite, .form-email, .form-error, .form-message, .form-name, .form-phone {
  background: url('../images/form-s13b8ee05b4.png') no-repeat;
}

.form-email {
  background-position: 0 0;
  height: 46px;
  width: 49px;
}
.form-email:hover, .form-email.email_hover, .form-email.email-hover {
  background-position: 0 -3046px;
}

.form-error {
  background-position: 0 -6092px;
  height: 48px;
  width: 49px;
}

.form-message {
  background-position: 0 -9140px;
  height: 46px;
  width: 49px;
}
.form-message:hover, .form-message.message_hover, .form-message.message-hover {
  background-position: 0 -12186px;
}

.form-name {
  background-position: 0 -15232px;
  height: 46px;
  width: 49px;
}
.form-name:hover, .form-name.name_hover, .form-name.name-hover {
  background-position: 0 -18278px;
}

.form-phone {
  background-position: 0 -21324px;
  height: 47px;
  width: 49px;
}
.form-phone:hover, .form-phone.phone_hover, .form-phone.phone-hover {
  background-position: 0 -24371px;
}

/* SPRITES contact form */
.social-sprite, .social-bb, .social-fb, .social-google, .social-tw {
  background: url('../images/social-s52266e0faa.png') no-repeat;
}

.social-bb {
  background-position: 0 -54px;
  height: 44px;
  width: 44px;
}
.social-bb:hover, .social-bb.bb_hover, .social-bb.bb-hover {
  background-position: 0 0;
}

.social-fb {
  background-position: 0 -324px;
  height: 44px;
  width: 44px;
}
.social-fb:hover, .social-fb.fb_hover, .social-fb.fb-hover {
  background-position: 0 -378px;
}

.social-google {
  background-position: 0 -108px;
  height: 44px;
  width: 44px;
}
.social-google:hover, .social-google.google_hover, .social-google.google-hover {
  background-position: 0 -162px;
}

.social-tw {
  background-position: 0 -270px;
  height: 44px;
  width: 44px;
}
.social-tw:hover, .social-tw.tw_hover, .social-tw.tw-hover {
  background-position: 0 -216px;
}

html.ie8 {
  color: red !important;
}

body {
  color: #67727e;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 20px;
  font-weight: 300;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.136;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #3e4d5c;
  margin-bottom: 10px;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 35px;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 45px;
  margin-bottom: 40px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  color: #008CA7;
  margin-bottom: 0;
  line-height: 1.5;
}

a {
  outline: none;
  /* removing outline in Mozilla */
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #008CA7;
}
a:hover {
  color: #008CA7;
}

p {
  margin-bottom: 20px;
  clear: both;
}

img {
  vertical-align: top;
}

table {
  width: 100%;
}

strong {
  font-weight: bold;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  background: black;
  color: white;
  text-shadow: none;
}

::selection {
  background: black;
  color: white;
  text-shadow: none;
}

.hide {
  display: none !important;
}

button:hover,
input[type="submit"]:hover,
label {
  cursor: pointer;
}

textarea {
  margin: 0;
  /* removing margin in Mozilla */
  overflow: auto;
  /* for IE and older browsers */
}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* --------------------------------------------------------------------------------------
+
+ LAYOUT
+
-------------------------------------------------------------------------------------- */
.container {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* --------------------------------------------------------------------------------------
+
+ BUTTONS
+
-------------------------------------------------------------------------------------- */
.btn {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  color: white;
  background: #008CA7;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.btn:hover {
  background: #e25d5a;
  color: white;
}
.btn.lightgreen {
  background-color: #1ed2d0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.btn.lightgreen:hover {
  background-color: #21c4c4;
}

/* --------------------------------------------------------------------------------------
+
+ FORMS
+
-------------------------------------------------------------------------------------- */
/* MAIN PART */
input[type="text"], input[type="email"], textarea {
  vertical-align: middle;
  border: 2px solid #d4d8de;
  color: #67727e;
  background-color: white;
  padding: 0 10px 0 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  width: 100%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, textarea:hover, textarea:focus {
  background-color: #fff;
  border: 2px solid #1ed2d0;
}
input[type="text"].error, input[type="email"].error, textarea.error {
  background: url('../images/form/error.png') no-repeat 0 0;
  border: 2px solid #008CA7;
  color: #008CA7;
}
input[type="text"].error:hover, input[type="email"].error:hover, textarea.error:hover {
  background-position: 0 0;
}

input[type="text"], input[type="email"] {
  height: 48px;
  line-height: 48px;
}
.ie8 input[type="text"], .ie8 input[type="email"] {
  line-height: 43px;
}

textarea {
  resize: none;
  padding-top: 12px;
  min-height: 203px;
}
textarea.form-message {
  width: 100%;
}

label.error {
  color: #008CA7;
  position: absolute;
  left: 50px;
  margin-top: -32px;
}

/* --------------------------------------------------------------------------------------
+
+ HEADER
+
-------------------------------------------------------------------------------------- */
header {
  height: 56px;
  position: fixed;
  background-color: transparent;
   background: url('../images/bg-header.png') no-repeat 50% 50%;
  width: 100%;
  z-index: 2000;
 /* -webkit-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);*/
}
header .container {
  position: relative;
  height: 56px;
}
header .logo {
  top: 19px;
  position: relative;
  float: left;
}
header .logo img {
  width: 150px;
}
.logo-footer img{width: 140px;}
header nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 56px;
  width: 64px;
  display: block;
  background: url('../images/menu_drop.png') no-repeat 50% 50%;
  cursor: pointer;
}
header nav ul {
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}
header nav ul li {
  width: 100%;
  height: 52px;
  line-height: 52px;
  border-top: 2px solid #fff;
}
.ie7 header nav ul li {
  float: left;
}
header nav ul li:first-child {
  border-top: transparent;
}
.ie7 header nav ul li:first-child, .ie8 header nav ul li:first-child {
  border-top: 1px solid #c1c5c9;
}
header nav ul li:first-child a {
  -webkit-box-shadow: inset 0 1px 1px rgba(1, 1, 1, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(1, 1, 1, 0.2);
  box-shadow: inset 0 1px 1px rgba(1, 1, 1, 0.2);
}
header nav ul li a {
  /*background-color: #e3e7ec;
  color: #67727e;*/
  color: white;
  font-weight:bold;
  text-align: center;
  display: block;
}
header nav ul li a:hover {
  /*background-color: #fff;
    color: #67727e;*/
  color: white;
  text-decoration: underline;
}

/* --------------------------------------------------------------------------------------
+
+ FOOTER
+
-------------------------------------------------------------------------------------- */
footer {
  background-color: #3e4d5c;
  padding: 40px 0;
  text-align: center;
  position: relative;
}
footer .container {
  overflow: hidden;
}
footer .container > a {
  display: inline-block;
  margin-bottom: 15px;
}
footer .container > a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
footer .container img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
footer .left, footer .right {
  float: none;
}
footer small {
  display: block;
  clear: both;
  font-size: 14px;
  color: #8494a7;
  margin-bottom: 30px;
  margin-top: 10px;
}
footer small a {
  color: #8494a7;
}
footer small a:hover {
  color: #506477;
}
footer small i {
  display: block;
  font-style: normal;
}
footer ul {
  text-align: center;
}
footer li {
  display: inline-block;
  margin-left: 10px;
}
footer li:first-child {
  margin-left: 0;
}
footer li a {
  width: 48px;
  height: 48px;
  display: block;
  border: 2px solid #8494a7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
footer li a:hover {
  border: 2px solid #008CA7;
  background-color: #008CA7;
}

/* --------------------------------------------------------------------------------------
+
+ CONTENT
+
-------------------------------------------------------------------------------------- */
.content {
  width: 100%;
  position: relative;
  top: auto !important;
  padding-top: 56px;
}
.content .subheader {
  width: 100%;
  height: auto;
  display: block;
  padding: 50px 0 0;
  background: url('../images/bg-header.png') no-repeat 50% 50%;
  position: relative;
  background-attachment: fixed;
  text-align: center;
  border-bottom: 7px solid #008CA7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(../js/backgroundsize.htc);
}
.content .subheader h1 {
  padding: 0 20px 0;
}
.content .subheader span {
  background: url('../images/line.png') no-repeat 100% 50%;
  display: inline-block;
  margin: 0 auto 40px;
}
.content .subheader span h4 {
  background: url('../images/line.png') no-repeat 0 50%;
  display: inline-block;
  margin: 0;
}
.content .subheader .down {
  display: block;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  width: 60px;
  height: 60px;
  position: absolute;
  /*bottom: 20px;*/
  left: 50%;
  margin-left: -30px;
  background: url('../images/go_down.png') no-repeat 0 0;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.content .subheader .down:hover {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  -ms-animation-name: none;
  animation-name: none;
  background-position: 0 -60px;
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes bounce {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

section {
  padding: 40px 0;
  text-align: left;
  background-color: white;
}

#about li {
  padding-top: 40px;
  border-top: 2px solid #e3e7ec;
}
#about li *:last-child {
  margin-bottom: 0;
}
#about li:first-child {
  padding-top: 0;
  border-top: 0;
}
#about li span {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto 35px;

}
#about li + li {
  margin-top: 40px;
}

#work {
  background-color: #e8eef1;
}
#work .filter_wrap {
  height: 42px;
  line-height: 42px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
  padding: 0 20px;
  min-width: 70%;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
#work .filter_wrap span {
  display: block;
}
#work .filter_wrap span b {
  width: 100%;
  margin-left: 20px;
  top: 18px;
  position: absolute;
  right: 25px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 4.5px 0 4.5px;
  border-color: #67727e transparent transparent transparent;
}
#work .filter_wrap ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  z-index: 100000;
}
#work .filter_wrap ul a {
  display: block;
  color: #67727e;
}
#work .filter_wrap ul a:hover {
  background-color: #E8EEF1;
}
#work .filter_wrap:hover {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#work #filter_content {
  margin: auto;
}
#work #filter_content a {
  width: 280px;
  height: 280px;
  overflow: hidden;
  display: block;
  margin-bottom: 15px;
  margin: 7px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#work #filter_content a img {
  width: 100%;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
#work #filter_content a:before, #work #filter_content a:after {
  content: '';
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#work #filter_content a:before {
  background-color: #000;
  z-index: 5;
}
.ie8 #work #filter_content a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  display: none;
}
#work #filter_content a:after {
  background: url('../images/eye.png') no-repeat 50% 50%;
  z-index: 10;
}
.ie8 #work #filter_content a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#work #filter_content a:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#work #filter_content a:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  visibility: visible;
}
#work #filter_content a:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}

#clients {
  background: #3e4d5c url('../images/noise.png') no-repeat 50% 50%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(../js/backgroundsize.htc);
}
#clients * {
  color: #fff;
}
#clients .bx-wrapper {
  margin: 70px auto 0;
  position: relative;
}
#clients .bx-wrapper .bx-pager {
  display: none;
}
#clients .bx-wrapper .bx-controls-direction {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 26px;
  width: 100%;
}
#clients .bx-wrapper .bx-controls-direction a {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 14px;
  height: 26px;
  display: block;
  position: absolute;
  top: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#clients .bx-wrapper .bx-controls-direction a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clients .bx-wrapper .bx-controls-direction a.bx-prev {
  position: absolute;
  left: -65px;
  background: url('../images/arrowleft.png') no-repeat 0 0;
}
#clients .bx-wrapper .bx-controls-direction a.bx-next {
  position: absolute;
  right: -64px;
  background: url('../images/arrowright.png') no-repeat 0 0;
}
#clients .slider1 {
  font-size: 0;
}
#clients .slider1 .slide {
  width: 200px;
  height: 50px;
  display: block;
}
#clients .slider1 .slide:last-child {
  border-right: none;
}
#clients .slider1 a {
  height: auto;
  text-align: center;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#clients .slider1 a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clients .slider1 a img {
  max-width: 85%;
  max-height: 100%;
}

#team {
  background: #1ed2d0 url('../images/team_mask.png') no-repeat 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  text-align: left;
  -ms-behavior: url(../js/backgroundsize.htc);
  position: relative;
  z-index: 1000;
}
#team * {
  color: #fff;
}
#team .bx-wrapper {
  margin: 70px auto 0;
  position: relative;
}
#team .bx-wrapper .bx-pager {
  display: none;
}
#team .bx-viewport {
  overflow: visible;
}
#team .slide {
  text-align: center;
  margin-top: 30px;
  position: relative;
}
#team .slide:first-child {
  margin-top: 0;
}
#team .slide > a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 11px solid #fff;
  width: 204px;
  height: 204px;
  background-color: #fff;
  box-sizing: padding-box;
  display: block;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto 15px;
  cursor: pointer;
}
#team .slide > a img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 204px;
}
#team .slide > a i {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 204px;
  height: 204px;
  display: block;
  background: rgba(62, 77, 92, 0.5) url('../images/eye.png') no-repeat 50% 50%;
}
.ie8 #team .slide > a i {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: none;
}
#team .slide > a:hover i {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 400;
}
.ie8 #team .slide > a:hover i {
  display: block;
}
#team .slide h5, #team .slide p {
  margin-bottom: 0;
}
#team .slide .arrow_up {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 16px;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: url('../images/arrow_up.png') no-repeat 50% 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  zoom: 1;
}
#team .slide .arrow_up.active-arrow {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#team .slider2_popups {
  position: relative;
}
#team .popup-item {
  position: absolute;
  top: 50px;
  left: 50%;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 280px;
  margin-left: -140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #ff5f59;
  z-index: 500;
  padding: 20px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
#team .popup-item.active-popup {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.ie8 #team .popup-item {
  width: 960px !important;
  margin-left: -480px !important;
}
#team .popup-item * {
  color: #fff;
}
#team .popup-item h6 {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 15px;
}
#team .popup-item p {
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
#team .popup-item b {
  display: inline-block;
  cursor: pointer;
  padding-left: 15px;
  background: url('../images/close.png') no-repeat 0 50%;
}
#team .bx-controls-direction {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 26px;
  width: 100%;
}
#team .bx-controls-direction a {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 14px;
  height: 26px;
  display: block;
  position: absolute;
  top: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#team .bx-controls-direction a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#team .bx-controls-direction a.bx-prev {
  position: absolute;
  left: -65px;
  background: url('../images/arrowleft.png') no-repeat 0 0;
}
#team .bx-controls-direction a.bx-next {
  position: absolute;
  right: -64px;
  background: url('../images/arrowright.png') no-repeat 0 0;
}

#contact {
  padding-bottom: 0;
}
#contact .container {
  position: relative;
  z-index: 10;
}
#contact form {
  overflow: hidden;
  text-align: center;
}
#contact form .left {
  width: 100%;
  position: relative;
}
#contact form .btn {
  border: none;
}
#contact iframe {
  width: 100%;
  height: 426px;
  display: block;
  margin-top: 40px;
}
#contact .contact_info {
  width: 280px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  position: absolute;
  top: 0;
  display: block;
  z-index: 100;
  left: 50%;
  top: -220px;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -140px;
}
#contact .contact_info dt {
  margin-top: 15px;
}
#contact .contact_info dt:first-child {
  margin-top: 0;
}
#contact .contact_info dd a {
  color: #67727e;
}
#contact #order_now {
  background-color: #008CA7;
  padding: 90px 0 40px;
  display: block;
}

#to_the_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: url('../images/top.png') no-repeat 0 0;
  z-index: 1000000;
}
#to_the_top:hover {
  background-position: 0 -60px;
}

/* --------------------------------------------------------------------------------------
+
+ Lightbox
+
-------------------------------------------------------------------------------------- */
/* line 7, ../sass/lightbox.sass */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  background: url('../images/mask.png') repeat 0 0;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100000000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}

/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  margin: 0 auto;
}
.ie8 .lb-outerContainer {
  width: 960px !important;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container img {
  margin: 0 auto;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  bottom: -66px;
  left: 20px;
  height: 66px;
  width: 48px;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.lb-prev:hover, .lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
  background: url(../images/prev.png) 0 50% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
  background: url(../images/next.png) 100% 50% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  height: 66px;
  line-height: 66px;
  background-color: #fff;
  *zoom: 1;
  width: 100%;
  position: relative;
}
.ie8 .lb-dataContainer {
  width: 960px !important;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  color: #67727e;
}

/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 80%;
  float: left;
  text-align: left;
  height: 66px;
  line-height: 66px;
  padding-left: 88px;
  color: #67727e;
  font-size: 16px;
}

/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 121, ../sass/lightbox.sass */
.lb-closeContainer {
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.lb-data .lb-close {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  background: url(../images/close1.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* --------------------------------------------------------------------------------------
+
+ Queries
+
-------------------------------------------------------------------------------------- */
@media (max-width: 540px) {
  #clients .slider1 {
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }
  #clients .slider1 .slide {
    display: inline-block;
    width: 40%;
    height: 60px;
    line-height: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
  #clients .slider1 .slide:nth-child(2n+1) {
    border-right: 2px solid rgba(255, 255, 255, 0.1);
  }
  #clients .slider1 .slide:first-child, #clients .slider1 .slide:first-child + div {
    border-top: none;
  }
  #clients .slider1 .slide a {
    width: 75%;
    height: 60px;
    margin: 0 auto;
    display: table;
    border-collapse: collapse;
  }
  #clients .slider1 .slide a img {
    display: table-cell;
    max-width: 100px;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 
    background-size: cover; 
    opacity: .3;
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(../images/bg-header.png)no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
.place-card-large{display:none!important;}
.address-footer{font-size: 14px;color:#8494a7;text-align:left;padding-top:15px;}
ul.list-default  li{list-style: disc!important;margin-left:20px!important;padding-bottom:7px;}

