/*

@Author: Themezinho
@URL: http://www.themezinho.net
 
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


// Table of contents //

	1. Body
	2. Links
	3. Customized Html
	4. Form Elements
	5. Site Button
	6. Sections
	7. Stuffs
	8. Preloader
	9. Transition Overlay
	10. Hero Backgrounds
	11. Content Titles
	12. Top Menu
	13. Site Hero
	14. Pagination
	15. Header
	16. Sandwich Menu
	17. Home Slider
	18. Home Static Image
	19. Home JS Particles
	20. Home Video
	21. Home Animated Hero
	22. Home Static Text
	23. Home Text Rotater
	24. Home Portfolio
	25. Features Icon
	26. Team Members
	27. Clients
	28. Awards
	29. Testimonials
	30. Office Thumbs
	31. Home News
	32. Blog
	33. Hire Us
	34. Instafeed
	35. Project Detail
	36. Contact Us
	37. Footer
	38. Responsive Fixes
	
*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic&subset=latin,latin-ext);

*{ outline:none !important;}
body{ margin:0; padding:0; background:#f3f3f3; font-family: 'Josefin Sans', sans-serif; font-weight:300; font-size:14px; color:#181818; -webkit-font-smoothing: antialiased;}
body, html{ height:100%;}




/* LINKS */
a{color:#181818;}
a{-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}
a:hover{ text-decoration:underline; color:#181818;}
a:focus{ text-decoration:none; color:#181818;}




/* CUSTOMIZED HTML */
ul{ margin:0; padding:0;}
ul li{ margin:0; padding:0; list-style:none;}
p{font-family: 'Playfair Display', serif; line-height:24px; margin-bottom:15px;}
img{ max-width:100%;}
b{ font-weight:700;}
strong{ font-weight:700;}
em{ text-decoration:underline;}
u{ font-style:italic;}
canvas { display: block;  vertical-align: bottom;}



/* FORM ELEMENTS */
input[type="text"]{ height:40px; border:1px solid #eee; padding:0 15px;}
input[type="password"]{ height:40px; border:1px solid #eee; padding:0 15px;}
input[type="button"]{ height:40px; border:none; background:#181818; color:#fff; padding:0 15px;}
input[type="submit"]{ height:40px; border:none; background:#181818; color:#fff; padding:0 15px;}
button[type="button"]{ height:40px; border:none; background:#181818; color:#fff; padding:0 15px;}
button[type="submit"]{ height:40px; border:none; background:#181818; color:#fff; padding:0 15px;}
textarea{ height:120px; border:1px solid #eee; padding:15px;}



/* SITE BUTTON */
.site-btn{ float:left; position:relative; margin:20px;}
.site-btn *{-webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important; transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;}
.site-btn a{ float:left; color:#fff; padding:20px 25px; font-weight:700; font-size:18px; text-decoration:none;}
.site-btn span:nth-child(1){ width:100%; height:1px; position:absolute; right:0; top:0; background:#fff}
.site-btn span:nth-child(2){ width:1px; height:100%; position:absolute; right:0; bottom:0; background:#fff}
.site-btn span:nth-child(3){ width:25%; height:1px; position:absolute; right:0; bottom:0; background:#fff;}
.site-btn span:nth-child(4){ width:1px; height:0; position:absolute; left:0; bottom:0; background:#fff;}
.site-btn span:nth-child(5){ width:0; height:1px; position:absolute; left:0; top:0; background:#fff;}

.site-btn:hover span:nth-child(1){ width:0;}
.site-btn:hover span:nth-child(2){ height:0;}
.site-btn:hover span:nth-child(3){ width:100%;}
.site-btn:hover span:nth-child(4){ height:100%;}
.site-btn:hover span:nth-child(5){ width:25%;}




/* SECTIONS */
main{ width:100%; height:100%; float:left; padding:0 70px;}
section{ width:100%; float:left;}
header{ width:100%; float:left;}
aside{ width:100%; float:left;}
footer{ width:100%; float:left;}



/* STUFFS */
.overflow-hidden{ overflow:hidden;}
.table{ width:100%; height:100%; display:table; margin:0; position:relative; z-index:2;}
.table .inner{ display:table-cell; vertical-align:middle;}
.parent { display: table; float:left; }
.parent > div {display: table-cell; vertical-align:middle;}



/* PRELOADER */
.preloader{ width:100%; height:100%; position:absolute; z-index:9; top:0; left:0; padding:0 70px;}
.preloader{-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; 
-webkit-transition-duration: 500ms; -moz-transition-duration: 500ms; -o-transition-duration: 500ms; transition-duration: 500ms;
-o-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -moz-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -webkit-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); 
transition-delay:1s; -moz-transition-delay:1s; -o-transition-delay:1s; -webkit-transition-delay:1s;}
.preloader .table{ background:#0d0c0d;}
.preloader .table .inner{ text-align:center;}
.preloader .table .inner figure{ max-width:100%; display:inline-block;}
.preloader .table .inner figure img{ height:140px;}
.preloader.move-up{ -webkit-transform:translateY(-100%); -moz-transform:translateY(-100%); -ms-transform:translateY(-100%); -o-transform:translateY(-100%); transform:translateY(-100%); opacity:0; visibility:hidden;}




/* TRANSITION OVERLAY */
.transition-overlay{ width:100%; height:0; position:absolute; position:absolute; z-index:10; top:0; left:0; padding:0 70px; opacity:1; visibility:hidden;}
.transition-overlay {-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; transition-duration: 500ms; -webkit-transition-duration: 500ms;	}
.transition-overlay {transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);transition-delay:0.5s;}
.transition-overlay .inner{ width:100%; height:100%; float:left; background:#9AA8AB;}
.transition-overlay.show-me{ opacity:1; height:100%; visibility:visible;}




/* HERO BACKGROUNDS */
.hero-bg1{ background:url(../images/hero1.jpg) top center no-repeat; background-size:cover;}
.hero-bg2{ background:url(../images/hero2.jpg) top center no-repeat; background-size:cover;}
.hero-bg3{ background:url(../images/hero3.jpg) top center no-repeat; background-size:cover;}
.hero-bg4{ background:url(../images/hero4.jpg) top center no-repeat #000;}




/* CONTENT TITLES */
.content-titles{ width:100%; float:left; text-align:center; margin-bottom:60px;}
.content-titles .sub-title{ width:100%; float:left; font-weight:300; font-size:16px; margin:0;}
.content-titles .main-title{ width:100%; float:left; font-weight:700; font-size:44px; position:relative; letter-spacing:8px; padding-bottom:20px;}
.content-titles .main-title:after{content:''; width:30px; height:1px; background:#181818; position:absolute; left:50%; bottom:0; margin-left:-15px;}




/* TOP MENU */
.top-menu{ width:100%; height:138px; float:left; padding:0 70px; background:#181818; position:absolute; z-index:2; left:0; top:0;}
.top-menu{-webkit-transform:translateY(-138px); -moz-transform:translateY(-138px); -ms-transform:translateY(-138px); -o-transform:translateY(-138px); transform:translateY(-138px);}
.top-menu{-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; 
-webkit-transition-duration: 500ms; -moz-transition-duration: 500ms; -o-transition-duration: 500ms; transition-duration: 500ms;
-o-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -moz-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -webkit-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); }
.top-menu.move-down{ -webkit-transform:translateY(0); -moz-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); transform:translateY(0);}
.top-menu .video-bg{ width:100%; height:138px; position:absolute; left:0; top:0; overflow:hidden;}
.top-menu .video-bg video{ width:100%; float:left; margin-top:-30%; opacity:0.1;}
.top-menu ul{ width:100%; float:left; text-align:center; margin:40px 0;}
.top-menu ul li{ display:inline-block; margin:0 30px;}
.top-menu ul li a{ height:50px; float:left; font-size:40px; font-weight:700; color:#fff; overflow: hidden;	padding: 0 4px;}
.top-menu ul li a span { position: relative; display: inline-block; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s;}
.top-menu ul li a span::before { position: absolute; top: 100%; content: attr(data-hover); font-weight: 700; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); transform: translate3d(0,0,0); color:#ed4747;}
.top-menu ul li a:hover span,.top-menu a:focus span { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%);}
.top-menu ul li a:hover{ text-decoration:none;}
main{-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; 
-webkit-transition-duration: 500ms; -moz-transition-duration: 500ms; -o-transition-duration: 500ms; transition-duration: 500ms;
-o-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -moz-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -webkit-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1);}
main.move-down{-webkit-transform:translateY(138px); -moz-transform:translateY(138px); -ms-transform:translateY(138px); -o-transform:translateY(138px); transform:translateY(138px);}




/* SITE HERO */
.site-hero{ width:100%; height:100%; float:left; position:relative; z-index:1; top:0;}
.site-hero{-webkit-transform:translateY(180px); -moz-transform:translateY(180px); -ms-transform:translateY(180px); -o-transform:translateY(180px); transform:translateY(180px);}
.site-hero{-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; 
-webkit-transition-duration: 500ms; -moz-transition-duration: 500ms; -o-transition-duration: 500ms; transition-duration: 500ms;
-o-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -moz-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -webkit-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); 
transition-delay:1.2s; -moz-transition-delay:1.2s; -o-transition-delay:1.2s; -webkit-transition-delay:1.2s;}
.site-hero.move-up{-webkit-transform:translateY(0); -moz-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); transform:translateY(0);}
.site-hero .hero-inner{ width:100%; height:100%; float:left; background-attachment:fixed; padding-top:100px;}
.site-hero .hero-inner h2{ width:250px; font-size:40px; display:inline-block; color:#fff; font-weight:700; transform: rotate(-90deg); margin-bottom:120px;}
.site-hero .hero-inner h5{ font-size:22px; font-family: 'Playfair Display', serif; color:#fff; position:relative;}
.site-hero .hero-inner h5:after{content:""; width:30px; height:1px; background:#fff; position:absolute; left:50%; bottom:-20px; margin-left:-15px;}




/* PAGINATION */
.pagination{ display:inline-block; text-align:center;}
.pagination li{ float:left;}
.pagination li a{ color:#181818; border:1px dashed #181818; padding:10px 25px; border-radius:0 !important;}
.pagination li a:hover{ background:none; border:1px dashed #181818; color:#F00;}




/* HEADER */
.header{ width:100%; float:left; background:#f3f3f3; position:absolute; top:-100%; left:0; z-index:2; padding:34px 70px;}
.header{-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; 
-webkit-transition-duration: 500ms; -moz-transition-duration: 500ms; -o-transition-duration: 500ms; transition-duration: 500ms;
-o-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -moz-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); -webkit-transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1); 
transition-delay:2s; -moz-transition-delay:2s; -o-transition-delay:2s; -webkit-transition-delay:2s;}
.header.move-down{ top:0;}
.header .container-fluid{ padding:0;}
.header .navbar-default{ width:100%; min-height:inherit; border:none; background:none; border-radius:0; margin:0;}
.header .navbar-default .navbar-header{ width:100%; height:33px; float:left; margin:0;}
.header .navbar-default .navbar-header .navbar-brand{ height:auto; margin:0; padding:0;}
.logo-mozino{ position: relative;top:-10px;}
.header .navbar-default .navbar-header .sandwich-menu{ float:right; margin-top:6px;}
.header .navbar-default .navbar-header .sandwich-menu .border{ width:26px; height:4px; display:block; background:#181818; margin-bottom:9px;}




/* SANDWICH MENU */
.sandwich-menu { width: 30px; height: 64px; float:right; margin:0; cursor: pointer; overflow: hidden; position:relative; }
.sandwich-menu span { width: 26px; height:4px; background: #000; display: block; position: absolute; left: 0;}
.sandwich-menu span{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;}
.sandwich-menu span{-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
.sandwich-menu span:nth-child(1) {top: 0px;}
.sandwich-menu span:nth-child(2),
.sandwich-menu span:nth-child(3) {top: 8px; background:transparent;}
.sandwich-menu span:nth-child(4) {top: 14px;}
.sandwich-menu.menu-open span:nth-child(1),
.sandwich-menu.menu-open span:nth-child(4) {top: 9px;left: 50%;width: 0%;}
.sandwich-menu.menu-open span:nth-child(2) { background:#000;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.sandwich-menu.menu-open span:nth-child(3) { background:#000;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}




/* HOME SLIDER */
.home-slider{ width:100%; height:100%; float:left; position:relative; z-index:1;}
.home-slider .slider-inner{ width:100%; float:left; overflow:hidden !important; color:#fff !important;}
.home-slider .slider-inner .fullwidthbanner-container{ left:0 !important;}
.home-slider .slider-inner h2{ font-size:100px; font-weight:700; line-height:90px;}
.home-slider .slider-inner .desciption{ font-size:22px; line-height:30px;}
.home-slider .slider-inner em{ font-style:italic; text-decoration:underline; font-size:28px;}



/* HOME STATIC IMAGE */
.home-static-image{ width:100%; height:100%; float:left; padding:0 60px;}
.home-static-image.bg-1{ background:url(../images/static-image.jpg); background-size:cover; background-position:center; background-attachment:fixed;}
.home-static-image h4{ display:block; font-size:30px; font-family: 'Playfair Display', serif; letter-spacing:4px;}
.home-static-image h3{ display:block; font-size:120px; font-weight:700;}
.home-static-image .button { height:44px; line-height:44px; display:inline-block; border:2px solid #000; color:#000; padding:0 30px; font-weight:700; position:relative;}
.home-static-image .button span{ width:0; height:42px; background:#000; position:absolute; left:0; top:0; z-index:-1;}
.home-static-image .button span{-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease;}
.home-static-image .button:hover{ text-decoration:none; color:#fff;}
.home-static-image .button:hover span{ width:100%;}



/* HOME JS PARTICLES */
.home-particles{ width:100%; height:100%; float:left; background:#181818;}
.home-particles #particles-js{ width:100%; height:100%; float:left; opacity:0.2;}
.home-particles h4{ display:block; font-size:90px; font-weight:700; color:#fff; margin-top:100px;}
.home-particles h3{ display:block; font-size:30px; color:#fff; margin:0; margin-bottom:30px;}
.home-particles .btn-container{ display:inline-block;}
.home-particles .btn-container .site-btn{ color:#fff;}
.home-particles #particles-js{position: absolute; width: 100%; height: 100%;  background-image: url("");  background-repeat: no-repeat;  background-size: cover;  background-position: 50% 50%;}


/* HOME VIDEO */
.home-video-bg{ width:100%; height:100%; float:left; position:relative; overflow:hidden;}
.home-video-bg video{ width:100%; min-height:100%; position:absolute; left:0; top:0;}
.home-video-bg .inner{text-align:center;}
.home-video-bg h3{ font-size:70px; font-weight:700; color:#fff; margin-top:100px;}
.home-video-bg .button{ display:inline-block;}



/* HOME ANIMATED HERO */
.home-animated{ width:100%; height:100%; float:left; position:relative; overflow:hidden; background:url(../images/animated-hero.gif) center no-repeat #211f25;}
.home-animated .button{ display:inline-block; margin-top:200px;}





/* HOME STATIC TEXT */
.home-static-text{ width:100%; height:100%; float:left;}
.home-static-text h2{ font-size:80px; font-weight:700; margin-top:100px;}
.home-static-text span{ border-bottom:2px solid #000;}




/* HOME TEXT ROTATER */
.home-text-rotater{ width:100%; height:100%; float:left; background:url(../images/static-image2.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater h2{ width:100%; float:left; color:#fff; text-align:center;}
.home-text-rotater .button{ display:inline-block;}
.home-text-rotater a{ display:inline-block;}

/* HOME TEXT ROTATER GOLIVE */
.home-text-rotater-golive{ width:100%; height:100%; float:left; background:url(../images/static-image3.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater-golive h2{ width:100%; float:left; color:#fff; text-align:left;padding-left:7%;}
.home-text-rotater-golive .button{ display:inline-block;}
.home-text-rotater-golive a{ display:inline-block;}

/* HOME TEXT ROTATER frooid */
.home-text-rotater-frooid{ width:100%; height:100%; float:left; background:url(../images/static-image4.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater-frooid h2{ width:100%; float:left; color:#fff; text-align:left;padding-left:7%;}
.home-text-rotater-frooid .button{ display:inline-block;}
.home-text-rotater-frooid a{ display:inline-block;}

/* HOME TEXT ROTATER moznow */
.home-text-rotater-moznow{ width:100%; height:100%; float:left; background:url(../images/static-image5.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater-moznow h2{ width:100%; float:left; color:#fff; text-align:left;padding-left:7%;}
.home-text-rotater-moznow .button{ display:inline-block;}
.home-text-rotater-moznow a{ display:inline-block;}

/* HOME TEXT ROTATER mosaico */
.home-text-rotater-mosaicolive{ width:100%; height:100%; float:left; background:url(../images/static-image6.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater-mosaicolive h2{ width:100%; float:left; color:#fff; text-align:left;padding-left:7%;}
.home-text-rotater-mosaicolive .button{ display:inline-block;}
.home-text-rotater-mosaicolive a{ display:inline-block;}

/* HOME TEXT ROTATER embraer */
.home-text-rotater-embraer{ width:100%; height:100%; float:left; background:url(../images/static-image7.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater-embraer h2{ width:100%; float:left; color:#fff; text-align:left;padding-left:7%;}
.home-text-rotater-embraer .button{ display:inline-block;}
.home-text-rotater-embraer a{ display:inline-block;}

/* HOME TEXT ROTATER works */
.home-text-rotater-works{ width:100%; height:100%; float:left; background:url(../images/static-image8.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater-works h2{ width:100%; float:left; color:#fff; text-align:left;padding-left:7%;}
.home-text-rotater-works .button{ display:inline-block;}
.home-text-rotater-works a{ display:inline-block;}

/* HOME TEXT ROTATER anhanguera */
.home-text-rotater-anhanguera{ width:100%; height:100%; float:left; background:url(../images/static-image9.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; text-align:center;} 
.home-text-rotater-anhanguera h2{ width:100%; float:left; color:#fff; text-align:left;padding-left:7%;}
.home-text-rotater-anhanguera .button{ display:inline-block;}
.home-text-rotater-anhanguera a{ display:inline-block;}





/* HOME PORTFOLIO */
.home-portfolio{ width:100%; float:left; background:#fff;}
.home-portfolio *{-webkit-transition: .15s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.home-portfolio ul{ width:100%; float:left;}
.home-portfolio ul li{ width:33.33333%; float:left;}
.home-portfolio ul li.double{ width:50%;}
.home-portfolio ul li.half{ width:25%;}
.home-portfolio ul li figure{ width:100%; float:left; display:table; position:relative;}
.home-portfolio ul li figure img{ width:100%;}
.home-portfolio ul li figure figcaption{ width:100%; height:100%; position:absolute; display:table-cell; vertical-align:middle; left:0; top:0; background:rgba(0,0,0,0.5); text-align:center; opacity:0;}
.home-portfolio ul li figure figcaption.dark{ background:rgba(0,0,0,0.8);}
.home-portfolio ul li figure figcaption.yellow{ background:rgba(255,210,3,0.8);}
.home-portfolio ul li figure figcaption.turquaz{ background:rgba(129,212,204,0.8);}
.home-portfolio ul li figure figcaption.blue{ background:rgba(0,183,233,0.8);}
.home-portfolio ul li figure figcaption.orange{ background:rgba(240,158,10,0.8);}
.home-portfolio ul li figure figcaption.purple{ background:rgba(100,59,189,0.8);}
.home-portfolio ul li figure figcaption.green{ background:rgba(197,208,130,0.8);}
.home-portfolio ul li figure figcaption.light-blue{ background:rgba(109,202,207,0.8);}
.home-portfolio ul li figure figcaption  a{ width:100%; height:100%; color:#fff;}
.home-portfolio ul li figure figcaption  a:hover{ text-decoration:none;}
.home-portfolio ul li figure figcaption h2{ width:100%; float:left; font-weight:700; font-size:52px;}
.home-portfolio ul li figure figcaption em{ width:100%; float:left; margin-bottom:30px; font-size:24px; font-family: 'Playfair Display', serif; font-style:italic;}
.home-portfolio ul li figure figcaption img{ width:auto; display:inline-block;}
.home-portfolio ul li figure:hover figcaption{ opacity:1;}
.home-portfolio ul li figure:hover figcaption img{-moz-transform: translateY(-20px); -ms-transform: translateY(-20px);-o-transform: translateY(-20px);transform: translateY(-20px);}
.home-portfolio ul li figure:hover figcaption em{-moz-transform: translateY(-10px); -ms-transform: translateY(-10px);-o-transform: translateY(-10px);transform: translateY(-10px);}




/* FEATURES ICON */
.features-icon{ width:100%; float:left; padding:60px 0; background:#fff;}
.features-icon i{ font-size:50px;}
.features-icon h4{ font-weight:700;}
.features-icon p{ position:relative; margin:0; padding-bottom:20px;}
.features-icon p:after{content:""; width:60px; height:1px; background:#181818; position:absolute; left:0; bottom:0;}




/* TEAM MEMBERS */
.team-members{ width:100%; float:left; padding:60px 0; background:#181818; color:#fff;}
.team-members *{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.team-members h4{ font-weight:700; font-size:42px; margin-top:0; margin-bottom:30px;}
.team-members figure{width:100%; float:left; padding:0 5%;}
.team-members figure img{ width:100%;}
.team-members figure figcaption{ width:100%; float:left; background:#181818; margin-top:10px; position:relative;}
.team-members figure figcaption h6{ font-size:20px;}
.team-members figure figcaption small{ color:#999;}
.team-members figure figcaption ul{ width:100%; float:left; margin-top:10px; opacity:0;}
.team-members figure figcaption ul li{ display:inline-block; margin-right:10px;}
.team-members figure figcaption ul li a{ float:left; color:#fff;}
.team-members figure:hover figcaption{ margin-top:-20px;}
.team-members figure:hover figcaption ul{ opacity:1;}
.team-members figure:hover img{ opacity:0.6;}



/* CLIENTS */
.clients{ width:100%; float:left; padding:60px 0; background:#fff;}
.clients ul{ width:100%; float:left;}
.clients ul li{ width:16.66666%; float:left;}
.clients ul li figure{ width:100%; float:left; text-align:center;}
.clients ul li figure h5{ display:block; margin:0;}
.clients ul li figure img{ display:inline-block;}



/* AWARDS */
.awards{ width:100%; float:left;}
.awards .left-side{ width:50%;}
.awards .left-side img{ width:100%;}
.awards .right-side{ width:50%; background:#181818; text-align:center; color:#fff;}
.awards .right-side h2{ display:block; font-size:44px; font-weight:700;}
.awards .right-side p{ display:block; font-size:16px; font-weight:300; font-family:'Josefin Sans', sans-serif;}
.awards .right-side i{ font-size:66px; display:inline-block; margin:40px 0;}
.awards .right-side img{ display:inline-block; margin:30px 0;}
.awards .right-side span{ display:inline-block; font-size:44px; font-weight:700;}
.awards .right-side b{ font-weight:300; font-size:32px; margin-left:10px;}




/* TESTIMONIALS */
.testimonials{ width:100%; float:left; text-align:center; background:#fff; padding:60px 0;}
.testimonials .quote{ display:inline-block; font-size:80px; font-family: 'Playfair Display', serif; margin-top:-20px; margin-bottom:-20px;}
.testimonials blockquote{ border:none; font-size:30px; color:#a3a3a3;  margin-top:0; margin-bottom:20px; padding:0 10%;}
.testimonials h5{ font-weight:700; font-size:15px;}
.testimonials .slick-dots{ display:block;}
.testimonials .slick-dots li{ display:inline-block; margin:0 5px; opacity:0.4;}
.testimonials .slick-dots li.slick-active{ opacity:1;}
.testimonials .slick-dots li button{ width:12px; height:12px; float:left; border-radius:12px; text-indent:-99999px; padding:0;}




/* OFFICE THUMBS */
.office-thumbs{ width:100%; float:left;}
.office-thumbs figure{ width:33.33333%; float:left;}
.office-thumbs figure img{ width:100%}




/* HOME NEWS */
.home-news{ width:100%; float:left; padding:80px; background:#fff;}
.home-news .news-title{ width:100%; float:left;}
.home-news .news-title h3{ font-size:40px; font-weight:700; margin:0;}
.home-news .news-title h3:before{content:''; float:left; margin-top:30px; background:#181818; }
.home-news .news-box{ width:100%; float:left;}
.home-news .news-box .news-category{ width:100%; float:left; font-size:13px; font-weight:700;}
.home-news .news-box .news-category .date{ color:#888;}
.home-news .news-box .news-title{ width:100%; float:left; font-weight:700; font-size:20px;}
.home-news .news-box p{ font-size:16px; color:#888; margin-bottom:25px;}
.home-news .news-box a{ font-weight:700; letter-spacing:1px; font-size:15px;}




/* BLOG*/
.blog{ width:100%; float:left; padding:80px 0; background:#fff;}
.blog .blog-post{ width:100%; float:left; text-align:center; border-bottom:1px solid #eee; margin-bottom:50px; padding-bottom:50px;}
.blog .blog-post .post-image{ width:100%; float:left; margin-bottom:30px;}
.blog .blog-post .post-image img{ width:100%;}
.blog .blog-post .post-title{ width:100%; float:left; font-size:28px; font-weight:700; margin-bottom:30px; background:url(../images/wave-icon-dark.png) bottom center no-repeat; padding-bottom:40px;}
.blog .blog-post .post-title a{ display:inline-block; color:#181818;}
.blog .blog-post .post-desc{ padding:0 5%; letter-spacing:1px;  font-size:16px;}
.blog .blog-post .post-date{ display:inline-block; margin:0 5px;}
.blog .blog-post .post-author{ display:inline-block; margin:0 5px;}
.blog .blog-post blockquote{ font-size:33px; border:none; padding:0 10%;}
.blog .blog-post blockquote:before{content:'“'; font-family: 'Playfair Display', serif; font-size:50px;}
.blog .blog-post blockquote:after{content:'”'; font-family: 'Playfair Display', serif; font-size:50px;}




/* HIRE US */
.hire-us{ width:100%; float:left; background:#95A5A6; padding:80px 0; text-align:center;}
.hire-us h3{  display:inline-block; font-size:56px; font-weight:300; color:#fff;}




/* INSTAFEED */
#instafeed{ width:100%; float:left;}
#instafeed li{ width:20%; float:left; list-style:none;}
#instafeed li a{ width:100%; float:left;}
#instafeed li img{ width:100%; float:left;}




/* PROJECT DETAIL */
.project-hero{ width:100%; height:100%; float:left; background:url(../images/project-detail-hero.jpg) center no-repeat #fd6244; background-attachment:fixed; background-size:auto 70%;}
.project-hero .inner{ padding-left:60px;}
.project-hero h3{ font-size:40px; color:#fff; margin-bottom:30px;}
.project-hero .button { height:44px; line-height:44px; display:inline-block; border:2px solid #fff; color:#fff; padding:0 30px; font-weight:700; position:relative;}
.project-hero .button span{ width:0; height:42px; background:#fff; position:absolute; left:0; top:0; z-index:-1;}
.project-hero .button span{-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease;}
.project-hero .button:hover{ text-decoration:none; color:#000;}
.project-hero .button:hover span{ width:100%;}



/* PROJECT DETAIL */
.project-detail{ width:100%; float:left; background:#fff; padding:100px 0;}
.project-detail .project-desc{ width:100%; float:left; padding-left:60px;}
.project-detail .project-desc h3{ font-weight:700; margin-bottom:30px;}
.project-detail .project-desc small{ font-weight:600; color:#666; display:block; margin-bottom:40px;}
.project-detail .project-desc a{  color:#ed4747; font-family: 'Josefin Sans', sans-serif; font-weight:700; text-decoration:underline;}

/* CONTACT US */
.contact-us{ width:100%; float:left; background:#fff; padding:80px 0; text-align:center;}
.contact-us h4{  width:100%; float:left; font-size:24px; font-weight:700; margin-bottom:30px; background:url(../images/wave-icon-dark.png) bottom center no-repeat; padding-bottom:40px;}
.contact-us address{ display:block;}
.contact-us form{ width:100%; float:left; margin-top:60px;}
.contact-us form label{ width:100%; float:left;}
.contact-us form  input[type="text"]{ width:100%; max-width:320px;}
.contact-us form  textarea{ width:100%; max-width:420px;}
#map{ width:100%; height:100%; background:#000;}




/* FOOTER */
.footer{ width:100%; float:left; padding:20px 0;}
.footer *{-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}
.footer .copyright{ float:left; font-size:12px; font-weight:700; color:#999;}
.footer .social-media{ width:100%; height:17px; float:left; text-align:center;}
.footer .social-media li{ display:inline-block; margin:0 6px;}
.footer .social-media li a{ float:left; color:#999;}
.footer .social-media li a:hover{ color:#181818;}
.footer .creation{ float:right; font-size:12px; font-weight:700; color:#999;}
.footer .creation i{ display:inline-block; margin:0 5px;}




/*RESPONSIVE FIXES */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
.home-news .news-title h3{ margin-bottom:30px;}
.home-news .news-title h3:before{ display:none;}
.home-portfolio ul li figure figcaption h2{ font-size:40px;}
.home-portfolio ul li figure figcaption em{ font-size:20px;}
}
@media only screen and (max-width: 989px), only screen and (max-device-width: 989px) {
main{ padding:0 50px;}
.preloader{ padding:0 50px;}
.transition-overlay{ padding:0 50px;}
.container{ width:100%;}
.preloader{ padding:0 50px;}
.top-menu{ padding:0 40px;}
.top-menu ul li{ margin:0 15px;}
.top-menu ul li a{ font-size:30px; height:30px;}
.header{ height:70px; padding:18px 50px;}
.home-slider .slider-inner h2{ font-size:70px;}
.home-slider .slider-inner .desciption{ font-size:18px;}
.home-portfolio ul li{ width:100%;}
.home-portfolio ul li.half{ width:100%;}
.home-portfolio ul li.double{ width:100%;}
.home-portfolio ul li figure figcaption h2{ font-size:40px;}
.home-portfolio ul li figure figcaption em{ font-size:21px;}
.home-portfolio ul li figure figcaption img{ height:12px;}
.home-news{ padding:60px 30px;}
.awards .right-side i{ font-size:50px; margin:20px 0;}
.awards .right-side h2{ font-size:36px;}
.awards .right-side img{ height:20px; margin:15px;}
.awards .right-side p{ padding:0 20px;}
.testimonials blockquote{ font-size:27px; padding:0 5%;}
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
main{ padding:0 20px;}
.preloader{ padding:0 20px;}
.transition-overlay{ padding:0 20px;}
.top-menu ul{ margin-top:20px;}
.top-menu ul li{ margin:15px;}
.header{ padding:18px 20px;}
.home-slider .slider-inner h2{ font-size:50px;}
.home-slider .slider-inner .desciption{ display:none;}
.home-news .news-title h3:before{ display:none;}
.home-news .news-title h3{ margin-bottom:30px;}
.home-news .news-box{ margin-bottom:40px;}
.features-icon{ text-align:center;}
.features-icon p{ margin-bottom:30px;}
.features-icon p:after{ display:none;}
.team-members figure{ margin-bottom:20px;}
.team-members figure img{ margin-bottom:0;}
.content-titles{ margin-bottom:20px;}
.content-titles .main-title{ font-size:26px;}
.clients ul li{  width:33.33333%;}
.awards .left-side{ width:100%; float:left;}
.awards .right-side{ width:100%; float:left;}
.awards .right-side h2{ font-size:28px;}
.awards .right-side img{ height:17px;}
.office-thumbs figure{ width:100%; margin-bottom:10px;}
.hire-us{ padding:40px 0;}
.hire-us h3{ font-size:34px;}
.footer { text-align:center;}
.footer .copyright{ float:left; font-size:10px; line-height:24px;}
.footer .social-media{ text-align:right;}
}

/*Tradutor*/
#google_translate_element, 
.goog-te-banner-frame, 
.goog-te-balloon-frame, 
#goog-gt-tt, 
.goog-te-balloon-frame, 
.goog-tooltip, 
.goog-tooltip:hover { 
    display:none !important; 
}
html, body { 
    top: 0 !important; 
}
font { 
    background: transparent !important; 
    color: inherit !important; 
    font: inherit !important; 
}
font:hover, .goog-text-highlight:hover, .goog-text-highlight { 
    -webkit-box-shadow: inherit !important; 
    -moz-box-shadow: inherit !important; 
    box-shadow: inherit !important; 
    box-sizing: inherit !important; 
    -webkit-box-sizing: inherit !important; 
    -moz-box-sizing: inherit !important; 
}
ul.btn-tradutor{float:right;}
ul.btn-tradutor li{display:inline;}
.personal-project-text{font-size:25px;color:white;}
.sub-text{font-style:italic;color:white;font-size:35px;}
